*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
header, footer{
    width: inherit;
    background-image: url('/img/border.png');
    background-repeat: repeat-x;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #2B2D33;  
    align-items: center;
    height: 80px;  
    width: 100%;    
}
.logoImg{
    background: url('/img/logo.png');
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    height: 56px;
    width: 86px;
}
.logo h1{
    display: block;
    font-size: 1.4em;
}
.logo h1 span{
    display: inline;
}
.menuIcon {
    font-size: 2.3em;
    line-height: .5em;
    position: absolute;
    right: 30px;
}
.navBar{
    margin-right: 45px;
}
.navBar li{
    display: inline-block;
    padding: 12px;
}

/* mein */

.banner {
    height: 260px;
    /* width: 734px; */
    background-image: url('/img/scenery.png');
    background-size: cover;
    background-position: right;
}
.features{
    text-align: center;
}
.features h2{
    padding: 16px 0;
    line-height: 15px;
    height: 14px;
    background-color: #2B2D33;
}
.features h3{
    background-color: #00CCCC;
    font-weight: 900;
    height: 22px;
    padding: 16px 0px;
    line-height: 24px;
    margin: auto;
    border-top: solid 1px #2B2D33;

}
.lorem{
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 35px;
    line-height: 1.3em;
}
/* footer */
footer{
    padding: 50px 50px 25px 50px;
    background-color: #2B2D33;
}
.nav-ctnr{
    display: flex;
    justify-content: space-around;
}
.nav li{
    line-height: 2em;
}
.copyright-text{
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* To all ------------------*/
a, h1, h2{
    text-decoration: none;
    color: #00CCCC;
}
ul{
    list-style-type: none;
}
.highlight, .copyright-text {
    color: #FFFFFF;
    font-weight: 700;
  }
/* mobile------------------------- */
@media only screen and (max-width: 750px){
    .navBar{
        display: none;
    }
    .menuIcon{
        color: #00CCCC;
        margin-top: 5px;
    }
    .logo h1{
        font-size: 2em;
        margin-top: 2px;
        margin-left: 95px;
        display: block;
    }
    .logoImg{
        margin: -8px 0 0 10px;
    }
    .nav2{
        display: none;
    }
}
/* tablet---------------- */
@media only screen and (min-width: 751px) and (max-width: 1194px){
    .menuIcon{
        display: none;
    }
    
    header h1{
        font-size: 3.6em;
    }
    .logo{
        margin-left: 25px;
    }
    .logo h1{
        margin-left: 95px;
        display: block;
    }
    .logo h1 span{
        display: block;
    }
    .logoImg{
        margin: 0 0 0 10px;
    }
    
    .white{
        color: #FFFFFF;
    }
    .yellow{
        color: #FFFFFF;
    }
}
@media only screen and (min-width: 1195px){
    footer{
        height: 50vh;
    }
    .logo{
        margin-left: 50px;
    }
    .logo h1{
        margin-top: 5px;
        font-size: 3em;
    }
    .logo h1 span{
        margin-left: 49px;
    }
    .menuIcon{
        display: none;
    }
    .logoImg{
        margin-left: 180px;
    }
    .main{
        margin: 50px 10%;
        display: flex;
        flex-direction: column;
    }
    .boner{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .lorem{
        padding: 0;
        margin-top: 30px;
    }
    .banner{
        border: 3px solid black;
        height: 260px;
        width: 734px;
        box-shadow: 5px 5px 5px;
    }
    .features{
        width: 320px;
        box-shadow: 5px 5px 5px;
    }
    .nav ul{
        border-left: 3px solid #00CCCC;
        padding-left: 30px;
    }
    .nav ul li{
        line-height: 1em;
    }
    footer li a {
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
    }
    .copyright-text {
        color: #202227;
        font-weight: 900;
        display: block;
        background-color: #00CCCC;
        padding: 10px 0;
        margin: auto;
    }
    .copyright-box{
        height: 100px;
        margin-top: 30px;
    }
    .navBar{
        border-bottom: #00CCCC 3px solid;
    }
    .white{
        color: #FFFFFF;
        border-bottom: #FFFFFF 3px solid;
        padding-bottom: 13px;
    }
    .yellow{
        color: #FFFFFF;
    }
}